In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import json
from pandas.io.json import json_normalize

In [2]:
api_key = 'ae72c660b8b898dd3e9d426e828b2299'

## Pull random movies from TMDB

In [3]:
def api_pull1(random_number):
    try:
    #     random_number=np.random.randint(1,500)
        url=f'https://api.themoviedb.org/3/movie/{random_number}?api_key=ae72c660b8b898dd3e9d426e828b2299'
        response = requests.get(url).json() 
        df = json_normalize(response)
#         df['title']=response['title']
#         df['overview']=response['overview']
#         df['release_date']=response['release_date']
        return df[['title', 'overview', 'release_date']]
    except:
        print ('please try again')

In [4]:
print(api_pull1(299536)['title'])

0    Avengers: Infinity War
Name: title, dtype: object

In [5]:
print(api_pull1(299536)['overview'][0])

As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.

In [6]:
# I could make a curated list of movie IDs which I know will work
for random_number in [500,501,502,503,504,505]:
    response=api_pull1(random_number)
    response

In [7]:
# check out a list of modern movies
url='https://api.themoviedb.org/3/discover/movie?api_key=ae72c660b8b898dd3e9d426e828b2299&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=1&release_date.gte=2017&vote_average.gte=10&with_original_language=en'

In [8]:
def api_pull2():
    try:
        url='https://api.themoviedb.org/3/discover/movie?api_key=ae72c660b8b898dd3e9d426e828b2299&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=1&release_date.gte=2017&vote_average.gte=5&with_original_language=en'
        response = requests.get(url).json() 
        return response['results']
    except:
        print ('please try again')

In [9]:
def api_pull3(page):

    url=f'https://api.themoviedb.org/3/discover/movie?api_key=ae72c660b8b898dd3e9d426e828b2299&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page={page}&release_date.gte=2017-01-01&vote_average.gte=5'
    response = requests.get(url).json() 

    df = json_normalize(response['results'])
    return df

In [10]:
ids_list=[]
df=api_pull3(3)
for value in df['id'].values:
    ids_list.append(value)
ids_list

[451644,
 338762,
 458156,
 384018,
 10473,
 540901,
 559969,
 481084,
 671,
 423204,
 338967,
 571265,
 320288,
 331482,
 531428,
 87101,
 301528,
 131631,
 299534,
 474350]

In [11]:
# ids_list=[]
for page in range(1,25):
    df=api_pull3(page)
    for value in df['id'].values:
        ids_list.append(value)

In [12]:
# list of popular movies from last couple of years
ids_list=[419704, 496243, 330457, 495764, 449924, 448119, 454626, 515001, 530915, 546554, 475557, 359724, 290859, 38700, 522162, 466272, 586592, 486589, 535292, 473033, 299536, 565426, 616458, 181812, 501170, 331482, 420809, 466282, 398978, 453405, 420817, 512200, 501907, 589049, 458897, 451644, 458156, 429617, 481084, 335983, 492188, 422803, 671, 522627, 181808, 548473, 384018, 284053, 474350, 522938, 297762, 320288, 301528, 556678, 420818, 338967, 141052, 653601, 10473, 315635, 559969, 668343, 27205, 228150, 578189, 299537, 491283, 299534, 431580, 599521, 324857, 542224, 118340, 321612, 423204, 519010, 664413, 505954, 87101, 383498, 335984, 424694, 504562, 390043, 549053, 528888, 287947, 297802, 198663, 13, 447332, 343611, 263115, 131631, 530385, 166428, 283995, 271110, 351286, 157336, 484641, 286217, 284054, 567609, 399579, 428045, 642657, 293660, 672, 329865, 205596, 155, 338952, 334074, 603, 280, 419430, 509967, 540901, 260514, 666750, 210577, 126889, 373571, 372058, 503919, 520725, 582923, 443791, 272, 260513, 673, 346910, 551332, 156022, 264660, 694, 284052, 76341, 511322, 438650, 658760, 127585, 447404, 424783, 292011, 479455, 508965, 348350, 625489, 554241, 531428, 8966, 450465, 254128, 381288, 47971, 332562, 262500, 590403, 675, 461130, 137113, 49026, 324552, 470229, 68718, 293167, 525661, 337339, 242582, 106646, 399035, 129, 270946, 353081, 12445, 606856, 339964, 363088, 490132, 15080, 767, 11324, 404368, 76757, 354912, 136799, 260346, 76338, 78, 454983, 857, 599975, 333339, 424, 354279, 345940, 427641, 431693, 559, 511987, 398818, 557, 209112, 10515, 593961, 216015, 537061, 429, 120467, 12444, 459992, 492611, 289222, 62, 565716, 653567, 611914, 8392, 238615, 674, 552178, 456740, 769, 406997, 339403, 168259, 259316, 207703, 343668, 391713, 18, 119450, 254470, 504608, 49017, 521029, 575771, 135397, 324786, 1735, 369972, 207933, 606954, 290595, 620924, 166426, 315837, 439079, 330459, 585759, 543540, 353491, 651070, 98, 11423, 374720, 512901, 375588, 246655, 454640, 335988, 402900, 475303, 8587, 6977, 28, 522212, 225886, 448095, 43074, 578, 337167, 504172, 458253, 70981, 465086, 553100, 458723, 364, 268896, 147441, 177677, 430155, 44214, 339846, 450001, 290098, 428078, 273248, 281957, 329996, 442065, 449443, 152601, 297761, 602, 198184, 412117, 531309, 527641, 515195, 131634, 499701, 493922, 399055, 338970, 512263, 565310, 335797, 103, 370663, 336843, 313369, 506574, 274857, 395992, 137, 188927, 1734, 537915, 241554, 106, 61791, 334541, 536743, 577970, 417384, 13183, 244761, 375262, 411088, 8916, 300668, 300671, 157433, 480530, 401478, 280217, 20352, 426426, 341013, 440762, 466622, 93456, 575094, 522681, 564, 415842, 400535, 550440, 359940, 342473, 539892, 400106, 378236, 396422, 1091, 9462, 567604, 401981, 376867, 115, 316029, 535581, 442062, 521777, 1369, 294254, 310307, 10555, 513045, 449562, 460555, 311324, 49047, 399174, 210860, 535544, 1368, 346364, 263109, 12230, 258489, 471707, 514439, 381283, 137116, 491418, 9837, 517093, 396535, 281338, 2503, 522369, 491584, 441282, 445629, 11216, 664423, 201088, 575452, 453755, 568160, 268531, 620725, 574376, 460793, 506528, 470044, 324542, 405774, 438674, 1370, 608826, 226857, 487083, 324852, 389015, 300665, 424139, 8871, 376865, 429416, 509598, 505600, 487558, 513409, 400155, 396371, 63, 395990, 426543, 401847, 1018, 460019, 9552, 353486, 369885, 16859, 274862, 47933, 271718, 395991, 262543, 263472, 209189, 601, 557635, 223702, 581528, 399170, 68735, 485942, 455980, 532321, 292280, 37247, 399404, 283366, 345887, 193756, 253412, 652483, 463257, 140300, 49049, 348893, 7518, 360920, 336000, 429197, 363676, 446021, 429202, 346648, 340022, 1924, 442249]

In [13]:
# problems=0
# for random_number in ids_list:
#     response=api_pull1(random_number)
#     if len(response)!=1:
#         problems+=1
# print(problems)

In [14]:
import random
random.choice(ids_list)

315837

In [15]:
api_pull1(random.choice(ids_list))[['title', 'overview', 'release_date']]['overview'][0]

'Woody has always been confident about his place in the world and that his priority is taking care of his kid, whether that\'s Andy or Bonnie. But when Bonnie adds a reluctant new toy called "Forky" to her room, a road trip adventure alongside old and new friends will show Woody how big the world can be for a toy.'

## Pick some horror movies

In [16]:
def get_genres():
    try:
        api_key = 'ae72c660b8b898dd3e9d426e828b2299'
        url=f'https://api.themoviedb.org/3/genre/movie/list?api_key={api_key}&language=en-US'
        response = requests.get(url).json() 
        return response
    except:
        print ('please try again')
get_genres()

{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

In [17]:
def get_horror_movies(page):
    try:
        url=f'https://api.themoviedb.org/3/discover/movie?api_key=ae72c660b8b898dd3e9d426e828b2299&with_genres=27&sort_by=vote_average.desc&vote_count.gte=10&page={page}'
        response = requests.get(url).json() 
        df = json_normalize(response['results'])
        return df
    except:
        print ('please try again')
get_horror_movies(2)['overview'].head()

0    It's New Year's Eve. Three drunkards evoke a l...
1    Things go badly for a hack director and film c...
2    The cruel and abusive headmaster of a boarding...
3    It has been five years since Laura and Carmill...
4    Francis, a young man, recalls in his memory th...
Name: overview, dtype: object

In [18]:
# get a list of horror movies
horror_ids_list=[]
for page in range(1,25):
    df=get_horror_movies(page)
    for value in df['id'].values:
        horror_ids_list.append(value)

In [19]:
print(horror_ids_list)

[539, 432606, 412546, 274, 438070, 67344, 694, 29721, 104548, 95043, 92060, 599672, 10242, 348, 17835, 10728, 116997, 48585, 1091, 402871, 58129, 513434, 827, 421131, 234, 15916, 20126, 18352, 9677, 3763, 30959, 357786, 62982, 805, 136, 45698, 167514, 22137, 100592, 41967, 49797, 437583, 538858, 653, 499537, 76715, 332755, 11482, 27503, 396535, 503919, 21156, 15203, 10331, 12206, 5998, 244, 9552, 3105, 18917, 127144, 578, 327389, 53186, 49361, 11167, 246741, 985, 44214, 18333, 36685, 333824, 31417, 765, 345287, 586461, 52949, 27327, 11906, 1933, 113458, 255384, 63311, 123969, 229, 626, 747, 616584, 948, 419430, 923, 11481, 40149, 57283, 361705, 13310, 3035, 6404, 571, 31685, 10787, 70349, 507112, 341420, 461775, 16372, 8740, 138843, 11549, 214163, 27632, 779, 422112, 68757, 18939, 373929, 65639, 28055, 84594, 31682, 763, 11206, 27742, 37793, 479001, 2291, 10842, 48581, 359642, 10086, 104599, 66762, 82094, 24745, 21484, 6114, 1813, 10234, 300790, 36095, 88018, 176, 1359, 500664, 48191, 15999, 16133, 9539, 9299, 194809, 27517, 59421, 184219, 46838, 259761, 57447, 167956, 535657, 794, 127401, 764, 18912, 50448, 22140, 814, 11772, 126597, 628, 30497, 447332, 837, 94525, 50787, 13581, 766, 411354, 10925, 269602, 16307, 1433, 36201, 3019, 15360, 11868, 3073, 50409, 381288, 377, 9426, 1678, 25623, 101806, 11850, 964, 26234, 84368, 515908, 2654, 36096, 293670, 19236, 11773, 19908, 37929, 46799, 27703, 115018, 10299, 99642, 20345, 6498, 346364, 398173, 74336, 464111, 470719, 532636, 4232, 201223, 16559, 138, 1560, 1987, 533991, 7340, 259693, 170, 108808, 42196, 9540, 1730, 635, 49096, 10722, 6537, 2972, 25103, 59480, 83579, 498934, 572468, 28043, 214714, 10695, 104275, 467012, 5333, 64720, 573, 16184, 46633, 6479, 84604, 9640, 85032, 476299, 64524, 26639, 22536, 106394, 13666, 13885, 530385, 507076, 1694, 42344, 539517, 433128, 24092, 33475, 291506, 28504, 9696, 34193, 17907, 28261, 241863, 289510, 8329, 41965, 402160, 11815, 40130, 609, 4552, 505706, 461955, 29449, 45452, 397490, 312174, 48895, 2668, 493922, 21588, 30346, 501170, 2671, 49239, 11623, 11336, 20981, 28189, 5845, 2974, 29239, 3031, 368051, 927, 123957, 29241, 393519, 25508, 931, 15004, 18851, 360251, 26882, 13550, 12487, 54288, 11797, 62182, 28642, 33828, 328216, 80662, 3053, 28363, 70779, 48714, 52794, 11075, 3016, 79329, 60159, 9542, 27425, 31592, 8408, 11454, 28049, 57230, 64568, 37433, 83519, 53102, 292523, 364873, 104308, 484586, 458723, 3079, 77495, 16373, 315205, 39259, 30903, 461774, 381283, 46767, 28900, 19204, 52943, 190638, 755, 67342, 140149, 105184, 27452, 2907, 41428, 19383, 14605, 9003, 48014, 15849, 474764, 32234, 82143, 26923, 246355, 39993, 15856, 17985, 32652, 361292, 18573, 13254, 33423, 211796, 333371, 47425, 32250, 21453, 11791, 51992, 67740, 77571, 27300, 9533, 17965, 92499, 463800, 45714, 24106, 28532, 252171, 181656, 33419, 92233, 319309, 11297, 69141, 17111, 9392, 338967, 27130, 84944, 1547, 75624, 18990, 72277, 28501, 16938, 26517, 58862, 300669, 38939, 17467, 21506, 56653, 16093, 28498, 924, 29320, 16182, 1946, 3127, 27509, 11879, 387929, 68627, 49018, 1255, 10776, 30901, 12476, 337568, 120852, 29702, 436387, 97187, 68632, 10439, 282069, 29140, 68881, 3077, 319314, 10973, 28940, 84508, 50342, 44510, 18910, 33908, 16281, 33477, 39891, 16137, 64624, 311155, 11071, 21208, 53064, 75006, 50515, 10779, 59857]

In [20]:
# try one out
api_pull1(539)

    title                                           overview release_date
0  Psycho  When larcenous real estate clerk Marion Crane ...   1960-06-22

In [21]:
# make sure there are no problems
# problems=0
# for number in horror_ids_list:
#     response=api_pull1(number)
#     if len(response)!=1:
#         problems+=1
# print(problems)

In [22]:
# build a database of horror movies
columns=['title', 'overview', 'release_date']
bigdf=pd.DataFrame({}, columns=columns)
for number in horror_ids_list:
    smalldf=api_pull1(number)
    bigdf=pd.concat([bigdf, smalldf])

In [25]:
bigdf['year']=pd.to_datetime(bigdf['release_date']).dt.year
bigdf['top_genre']='Horror'

In [26]:
bigdf.head()

,title,overview,release_date,year,top_genre
0,Psycho,When larcenous real estate clerk Marion Crane ...,1960-06-22,1960,Horror
0,Sleep Has Her House,The shadows of screams climb beyond the hills....,2017-01-01,2017,Horror
0,Antrum,"Rumored to have been lost, Antrum appears as a...",2018-10-14,2018,Horror
0,The Silence of the Lambs,Clarice Starling is a top student at the FBI's...,1991-02-01,1991,Horror
0,House of the Disappeared,"After 25 years of imprisonment for familicide,...",2017-04-05,2017,Horror

In [27]:
bigdf.to_csv('../data/horror_flicks.csv', index=False)